<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.png">
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Murah Meriah Muntah Apps Beta 0.0.1.a
            </h1>
        </div>
        <a id="menu" class="header__menu button" href="#">☰</a>
    </header>    
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#">Favorite </a></li>
            <li class="nav__item"><a href="http://noteslicious.com/">About Us</a></li>
        </ul>
    </nav>    
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Daftar Resto Non Mewah (Mepet Sawah)</h1>
            <p class="hero__tagline">Murah, Meriah, Muntah + (Bayar sesukanya, ambil sepuasnya, selesai kapan saja)</p>
        </div>
    </div>
    <main id="maincontent">
        <section class="content">
            <article class="headline">
                <figure class="headline__figure">
                    <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Bring Your Phone Cafe">
                    <figcaption>Bring Your Phone Cafe</figcaption>
                </figure>
                <div class="headline__content">
                    <h1 class="headline__title">Bring Your Phone Cafe</h1>
                    <p class="headline__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores, nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
                    <button class="headline__button">Read More</button>
                </div>
            </article>
            <div class="latest">
                <h1 class="latest__label">Daftar Restoran Murah Meriah Muntah ...</h1>
                <div class="posts">
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
                             alt="Medan">
                        <div class="post-item__content">
                            <p class="post-item__date">Medan
                            </p>
                            <h1 class="post-item__title">Rating : 4.6</h1>
                            <h1 class="post-item__title"><a href="#">Run The Gun</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29"
                             alt="Pangsit Express">
                        <div class="post-item__content">
                            <p class="post-item__date">Bandung
                            </p>
                            <h1 class="post-item__title">Rating : 4.7</h1>
                            <h1 class="post-item__title"><a href="#">Seblak Asgar</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38"
                             alt="Ducky Duck">
                        <div class="post-item__content">
                            <p class="post-item__date">Surabaya
                            </p>
                            <h1 class="post-item__title">Rating : 4.8</h1>
                            <h1 class="post-item__title"><a href="#">Ducky Duck</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40"
                             alt="Kafein">
                        <div class="post-item__content">
                            <p class="post-item__date">Yogyakarta</p>
                            <h1 class="post-item__title">Rating : 4.9</h1>
                            <h1 class="post-item__title"><a href="#">Kafein</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08"
                             alt="Makan mudah">
                        <div class="post-item__content">
                            <p class="post-item__date">Solo
                            </p>
                            <h1 class="post-item__title">Rating : 4.2</h1>
                            <h1 class="post-item__title"><a href="#">Makan mudah</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32"
                             alt="Saya Suka">
                        <div class="post-item__content">
                            <p class="post-item__date">jakarta
                            </p>
                            <h1 class="post-item__title">Rating : 4.1</h1>
                            <h1 class="post-item__title"><a href="#">Saya Suka</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/45"
                             alt="Gigitan Cepat">
                        <div class="post-item__content">
                            <p class="post-item__date">Padang
                            </p>
                            <h1 class="post-item__title">Rating : 4.5</h1>
                            <h1 class="post-item__title"><a href="#">Gigitan Cepat</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04"
                             alt="Fairy Cafe">
                        <div class="post-item__content">
                            <p class="post-item__date">Bogor
                            </p>
                            <h1 class="post-item__title">Rating : 4.6</h1>
                            <h1 class="post-item__title"><a href="#">Fairy Cafe</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2020 - Murah Meriah Muntah Apps</p>
    </footer>
</body>
</html>
