<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Daftar Restoran 3M (Murah Meriah Muntah) Indonesia">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <!--Asset berikut tidak dapat dicache 
        <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Daftar Resto Murah Meriah Muntah!</title>
</head>
<body>
<a href="#mainContent" class="skip-link">Menuju ke konten</a>
<header class="app-bar">
    <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
        <h1>Resto App 3M</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
            <li><a href="/">Daftar Restoran</a></li>
            <li><a href="/#/favourite">Resto Favorit</a></li>
            <li class="nav__item"><a href="http://noteslicious.com/">About Us</a></li>
        </ul>
    </nav>
</header>
<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Daftar Resto Non Mewah (Mepet Sawah)</h1>
        <p class="hero__tagline">Murah, Meriah, Muntah + (Bayar sesukanya, ambil sepuasnya, selesai kapan saja)</p>
    </div>
</div>
<main id="mainContent"></main>
<footer>
    <p>Copyright © 2020 - Murah Meriah Muntah Apps</p>
</footer>
</body>
</html>
